<tr>
  <td>
    <%= food_item.name %>
  </td>
  <td>
    <%= food_item.quantity %>
  </td>
  <td>
    <%= food_item.quantity_units %>
  </td>
  <td>
    <%= food_item.price %>
  </td>
  <td>
    <%= food_item.purchased %>
  </td>  
  <td>
    <%= food_item.expires %>
  </td>
</tr>